<% provide(:title, "Sign in") %>
<h1 class="title">Sign in</h1>
<br/>
<div class="row-fluid pagination-centered">
    <div class="span12">
        <%= form_for(:session, url: sessions_path) do |f|%>
            <%= f.label :email%>
            <%= f.text_field :email%>

            <%= f.label :password%>
            <%= f.password_field :password%>
			<br/>
            <%= f.submit "Sign in", class: "btn btn-large btn-primary"%>
        <% end %>
    </div>
</div>
