<%= form_for(@user) do |f| %>
 <%= f.label :first_name %> 
  <%= f.text_field :first_name %>
 <%= f.label :last_name %> <%= f.text_field :last_name %><br />
 <%= f.label :email %>  <%= f.email_field :email %><br />
 <%= f.label :date_of_birth %> <%= f.text_field :dob %><br />
 <%= f.label :password %>  <%= f.password_field :password %><br />
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Sign Up', :class => 'btn btn-large btn-danger'%>
  </div>
<% end %>
