<div class="row" id="profile">
	<div class="span4">
		<span class="label label-success">ABOUT</span>
		<br><br>
		<p><b>name:</b> <%= @user.name %></p>
		<p><b>date of birth:</b> <%= @user.dob.strftime("%v") %></p>
		<p><b>gender: </b><%= @user.gender || "?" %></p>
		<p><b>education: </b><%= @user.education || "?" %></p>
	</div>
	<div class="span4">
		<span class="label label-warning">HOME</span>
		<br><br>
		<p><b>city:</b> <%= @user.homecity || "?" %></p>
		<p><b>state: </b><%= @user.homestate || "?" %></p>
		<p><b>country: </b><%= @user.homecountry || "?" %></p>
	</div>
	<div class="span4">
		<span class="label label-important">COUNTRY</span>
		<br><br>
		<p><b>city:</b> <%= @user.currentcity || "?" %></p>
		<p><b>state: </b><%= @user.currentstate || "?" %></p>
		<p><b>country: </b><%= @user.currentcountry || "?" %></p>
	</div>
</div>

