
<div class="row pagination-centered">
	<h1>users by contribution</h1>

	<br/>
	<br/>
	<center>
	<table>
	  <tr>
		<th>user</th>
		<th width="300">activity</th>
		<th >score</th>
	  </tr>

	<% @contributors.each do |row| %>
	<% @max = @contributors.first[:score].to_f %>
	<tr>
		<td><%= link_to "#{row[:user].name}", 
						"/users/#{row[:user].id}", 
						:class=>"btn btn-danger" ,
						:style=>"float:right;"
						%></td>
		<td>
			<div class="progress" style="margin:0;height:15px;">
				<div class="bar" style="width: <%=(100*row[:score]/@max).to_i %>%"></div>
			</div>
		</td>
		<td style="text-align:center;">
			<%= row[:score] %>
		</td>
	  </tr>
	<% end %>
	</table>
	</center>
	<br />
</div>
