<% if flash[:notice]%>
	<p id="notice" class="pagination-centered alert-info"><%= flash[:notice]%></p>
<% end %>

<div class="pagination-centered">
<% if current_user and current_user?(@user)%>
<h1>your flippr</h1>
<br/>
<%= link_to "edit profile", edit_user_path(@user) , :class=>"btn btn-small"%>
<% else %>
<h1><%= @user.name %></h1>
<br/>
	<% if @friends.include?(current_user) %>
		<a href="/friends/<%=@user.id%>"
		   data-method="delete"
		   class="btn btn-default"
		>
		unfriend
		</a>
	<% else %>
		<a 
			href="/friends/?id=<%=@user.id%>" 
			data-method="create" 
			class="btn btn-primary">
		add as friend
		</a>
	<% end %>
<% end %>
<br/>
<br/>
<%= render "profile" %>


<h5>
<% if @user.albums.count >= 1 %>
	<hr>
	<h2><%= current_user?(@user) ? "your" : @user.name  %> albums</h2>
	<div class="row">
	<% @user.albums.each do |album| 
	   @pic = album.cover %>
		<blockquote class="img-rounded span3">
		<a href="<%= album_path(album)%>"><h4><%= album.name %></h4></a>
		<%if @pic %>
		<img src="<%= @pic.image %>" height=150 width=150>
		<% end %>
		<br/>
		<br/>
		<h6 class="muted">Album created on <%= album.date.strftime("%v")%></h6>
		<% if current_user?(@user) %>
		<a href="/albums/<%=album.id%>"
		   data-method="delete"
		   class="btn btn-default btn-small"
		>
		delete album
		</a>
		<a href="/albums/<%=album.id%>/edit"
		   method="get"
		   class="btn btn-primary btn-small"
		>
		edit album
		</a>
		<%end%>
		<br/>
		</blockquote>
	<% end %>
	</div>
<% end %>

<% if current_user and current_user?(@user)%>
<div class="row">
<%= link_to "New Album", new_album_path, :class => "btn btn-large btn-danger" %>
</div>
<br>
<% end %>

<hr>
<% if @friends and !@friends.empty? %>
<div class="span5">
<% @colors = ['success', 'warning', 'info', 'danger','inverse','primary'] %>
	<h2><%= current_user?(@user) ? "your" : @user.name+"'s"  %> friends</h2>
		<% @friends.each do |friend| %>
			<span class="btn btn-<%= @colors.sample %>">
			  <a href="/users/<%= friend.id%>"
				 style="color:white;"
			  ><%= friend.name %></a>
		<% if @user and current_user?(@user) %>
			<a href="/friends/<%=friend.id%>"
			   data-method="delete"
			><i class="icon-white icon-remove"></i></a>
		<%end%>
			</span>
		<%end%>
	<br>
	<br>
	<br>
</div>
<% end%>

<% if @tags and !@tags.empty? %>
<div class="span6">
<% @colors = ['success', 'warning', 'info', 'important','inverse'] %>
	<h2><%= current_user?(@user) ? "your" : @user.name+"'s"  %> tags</h2>
		<% @tags.each do |tag| %>
			<span class="badge badge-<%= @colors.sample %>">
			  <a href="/search/?words=<%= tag.word%>&user=<%= @user.id%>"
				 style="color:white;"
			  ><%= tag.word %></a>
			</span>
		<%end%>
	<br>
	<br>
	<br>
</div>
<% end%>

</div>
