<%= form_tag( controller:"comments",action:"create") do %>
	<%= text_field_tag(:text,nil, 
						size:80 ,
						maxlength:300, 
						:placeholder => "...",
						:style => "width:60%;margin:0;")%>
	<input type="hidden" name="photoid" value="<%= photo.id%>" id="photoid" >
	<%= submit_tag("comment", :class => "btn btn-primary")%>
<% end %>
