
<%= form_tag (@album ? "/albums/#{@album.id}" : '/albums') , method:"put" do %>
  <br>
  <%= submit_tag "Create", :class=>"btn btn-danger" %>
  <br>
  <br>
  <%= label_tag :name, "Album Name (required)" %>
  <%= text_field_tag :name , @album ?  @album.name : nil , :maxlength=>50 %>
  <% @photo = @album.photos if @album%>
  <% @photo.each do |pic| %>
      <%= label_tag 'photo_url[]', "Photo url (one picture required)" %>
      <%= url_field_tag 'photo_url[]',pic.image, :maxlength=>100 %>
      <%= label_tag 'caption[]', "caption" %>
      <%= text_field_tag 'caption[]', pic.caption, :maxlength=>50 %>
  <% end %>
  <%  10.times do %>
      <%= label_tag 'photo_url[]', "Photo url (one picture required)" %>
      <%= url_field_tag 'photo_url[]', nil, :maxlength=>100 %>
      <%= label_tag 'caption[]', "caption" %>
      <%= text_field_tag 'caption[]',nil, :maxlength=>50 %>
  <%  end %>
  <br>
  <%= submit_tag "Create", :class=>"btn btn-danger btn-large" %>
  <br>
<% end %>
