<h1>Listing albums</h1>

<table>
  <tr>
    <th>Album Name</th>
    <th>User</th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= link_to "#{album.name}", album %></td>
    <td><%= link_to "#{album.user.name}", album.user  %></td>
    <!--<td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
