<p id="notice" class="alert-error pagination-centered"><%= notice %></p>

<br>
<h3>album <span class="text-error"><%= @album.name %></span></h3>
<br>

<table>
<% @album.photos.each do |pic| %>
<%= render 'shared/photo', :pic => pic %>
<% end%>
</table>
