
<div class="row pagination-centered">
	<h1>top tags</h1>

	<br/>
	<br/>
	<center>
	<table>
	  <tr>
		<th>tag</th>
		<th width="300">popularity</th>
		<th>score</th>
	  </tr>

	<% @popular.each do |row| %>
	<% @max = @popular.first[:total].to_f %>
	<tr>
		<td><%= link_to "#{row[:word]}", 
						"/search?words=#{row[:word]}", 
						:class=>"btn btn-danger" ,
						:style=>"float:right;"
						%></td>
		<td>
			<div class="progress" style="margin:0;height:15px;">
				<div class="bar" style="width: <%=(100*row[:total]/@max).to_i %>%"></div>
			</div>
		</td>
		<td style="text-align:center;">
			<%= row[:total] %>
		</td>
	  </tr>
	<% end %>
	</table>
	</center>
	<br />
</div>
