<p id="notice" class="alert-error pagination-centered"><%= notice %></p>

<h3> 
	<%= @photos.empty? ? "no" : "" %> tags matching 
	<span class="text-error"><%= @words.join(" + ")%></span>
	<%if @user %>
	 for user <span class="text-warning"><%= @user.name%></span>
	<% end %>
</h3>
	
<% if @photos and !@photos.empty? %>
	<table>
	<% @photos.each do |pic| %>
	<%= render 'shared/photo', :pic => pic %>
	<% end%>
	</table>
<%end %>
