
<div class="row pagination-centered">
	<h1> tag suggestor </h1>
	<br>
		<center>
	<br>	
		<div class="row pagination-centered">
		<form class="navbar-search" action="/suggest/" method="get" 
			style="float:center;">
		<input type="text" name="words" class="search-query span2" 
			placeholder="type your tags here..." size="10"
			style="line-height:35px; font-size:20pt;height:30px;width:400px;"
			>
		</form>
		</div>
	<br>	
		<h2>
		<%= "example" if @example %>
		suggestions for <span class="text-error"><%= @words.join(" + ")%></span></h2>
		<table>
			<% @suggestions.each do |tag| %>	
			<tr><%= link_to "#{tag}", 
							"/search?words=#{tag}", 
							:class=>"btn btn-danger" ,
							:style=>"text-align:center;"
							%> 
			</tr>
			<%end%>
		</table>
		</center>
</div>
