// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	text-align:center;
	margin: 40px 0;
}

body{
	/*background: url("http://farm9.staticflickr.com/8526/8550223361_1610b82ca1_h.jpg") no-repeat;*/
	background-size:cover;
}
