<!DOCTYPE html>
<html>
<head>
  <title>Flippr</title>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container">
       </a>
       <a class="brand" href="../">Flippr</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
			  <li><a id="link" href="/popular">popular</a></li>
			  <li><a id="link" href="/users">active</a></li>
			  <li><a id="link" href="/suggest">similar</a></li>
        </ul>
		<form class="navbar-search pull-right" action="/search/" method="get">
		<input type="text" name="words" class="search-query span2" placeholder="Search Photos">
		</form>
        <ul class="nav pull-right" id="main-menu-right">
          <% if current_user %>
			  <li><a id="link" href="/signout">sign out</a></li>
		  <% else %>
			  <li><a id="link" href="/signin">sign in</a></li>
			  <li><a id="link" href="/signup">sign up</a></li>
		  <% end %>
        </ul>
       </div>
     </div>
   </div>
 </div>
	<br/>
	<br/>
	<br/>
 <div class="container">

<%= yield %>

 </div>
</body>
</html>
